@using EntityLayer.Concrete
@model List<Blog>

<!--Table-->
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazarın Bloqları</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Bloq adı </th>
                                <th> Kateqoriya </th>
                                <th> Tarix </th>
                                <th> Status </th>
                                <th> Sil </th>
                                <th> Güncəllə </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.ID </td>
                                    <td> @item.Title </td>
                                    <td>
                                        <label class="badge badge-gradient-success">@item.Category.Name</label>
                                    </td>
                                    <td> @(((DateTime)item.Date).ToString("dd-MMM-yyyy")) </td>
                                    <td> @item.Status </td>
                                    <td> <a href="/WriterPanel/Blog/BlogDelete/@item.ID/" class="btn btn-danger">Sil</a> </td>
                                    <td> <a href="/WriterPanel/Blog/BlogUpdate/@item.ID" class="btn btn-success">Güncəllə</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>